<div class="container">
  <h1>Manage Page</h1>


  <h3><a href="/admin/product.html">新增商品</a></h3>
  <br>
  <h3><a href="/admin/product/2">新增商品顏色</a></h3>
  <br>
  <h3><a href="/admin/product/3">新增商品庫存</a></h3>
  <br>
  <h3><a href="/admin/product/4">新增商品圖片</a></h3>
  <br>
  <h3><a href="/admin/campaign.html">新增campaign</a></h3>

</div>