<footer>
                <div id="footer-text">
                    <span>關於 Stylish</span>
                    <span>|</span>
                    <span>服務條款</span>
                    <span>|</span>
                    <span>隱私政策</span>
                    <span>|</span>
                    <span>聯絡我們</span>
                    <span>|</span>
                    <span>FQA</span>
                </div>
                <div id="footer-img">
                    <img src="../.././public_img/line.png" alt="">
                    <img src="../.././public_img/twitter.png" alt="">
                    <img src="../.././public_img/facebook.png" alt="">
                </div>
                <span>© 2018. All rights reserved.</span>
            </footer>