
<nav class="nav-main">

                <div class="nar-bar-l">
                    <a href="http://52.193.1.88/">
                        <img class="logo-img" src="../.././public_img/logo.png" alt="">                
                    </a>
                        
                </div>
                <!-- nav-L -->
    
                <div class="nar-bar-m">
                    <div class="nav-bar-m-inline">
                            
                        <span class="item-1"><a href="">女 裝</a></span>
                        <span>|</span>
                        <span class="item-2"><a href="">男 裝</a></span>
                        <span>|</span>
                        <span class="item-3"><a href="">配 件</a></span>
    
                    </div>
                </div>
                <!-- nav-M -->
                <div class="nar-bar-r">
                        <ul class="nav-icon">
                            <div class="search-icon-div">
                                <input type="text">                            
                                <li><a href="" ><img class="search-icon" src="../.././public_img/search.png" alt=""></a></li>
                            </div>
                            <div class="cart-icon-div">
                                <li><a href="http://localhost:3000/checkout.html"><img class="cart-icon" src="https://www.wuhsun.com//public_img/cart.png" alt=""></a></li>
                                {{!-- <li><a href="https://www.wuhsun.com/checkout.html"><img class="cart-icon" src="https://www.wuhsun.com/public_img/cart.png" alt=""></a></li> --}}
                                
                            </div>
                            <div class="member-icon-div">
                                <li><a href="http://localhost:3000/user"><img class="member-icon" src="https://www.wuhsun.com/public_img/member.png" alt=""></a></li>                            
                                {{!-- http://localhost:3000/checkout.html --}}
                            </div>                        
                        </ul>                
                </div>
                <!-- nav-R -->
            </nav>
            <div id="black-block">
    <!-- black block -->
        </div>