<h1>test Page</h1>

<form action="/test/user" method="POST">
  prodiver<input type="text" name="provider">
  name<input type="text" name="name">
  email <input type="text" name="email">
  password <input type="password" name="password">
  <button class="btn btn-info" type="submit">submit</button>
</form>
