

    {{#if err}}
    <div class="alert alert-success">{{err}}</div>
    {{/if}}
    
<h1>會員登入</h1>
{{#if loggedIn}}    
    
    <a href="/user/profile"  class="btn btn-info">user profile</a>
    {{/if}}
    <a href="/user/signup" class="btn btn-dark">sign up</a>
    <a href="/user/signin" class="btn btn-dark">sign in</a>
    




